{% extends "base.html" %}

{% block content %}
<br>
<br>
<br><br>
<br><br>
<md-whiteframe ng-app="macsite" ng-controller="macsiteController" class="md-whiteframe-4dp" flex-gt-sm layout="column" layout-padding layout-margin>
    <div class="md-display-1" layout-align="center centeraa">Student Registration</div>
    <form name="RegistrationForm" layout="column" novalidate method="POST" action="{% url 'registration' %}">
        {% csrf_token %}
        <h4 class="md-title">Personal Info</h4>
        <div layout="row">
        <md-input-container flex>
            <label>First Name</label>
            <input type="text" name="first_name" id="first_name" required ng-model="student.firstName">
            <div ng-messages="RegistrationForm.firstname.$error" md-auto-hide="false" >
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>

        <md-input-container flex>
            <label>Last Name</label>
            <input type="text" name="last_name" id="last_name" required ng-model="student.lastName">
            <div ng-messages="RegistrationForm.lastname.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        </div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>User Type</label>
            <md-select name="user_type" id="user_type" required ng-model="student.userType">
              <md-option value="student">student</md-option>
              <md-option value="staff">staff</md-option>
              <md-option value="management">management</md-option>
            </md-select>
            <div ng-messages="RegistrationForm.user_type.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <div layout="row">
        <md-input-container flex>
            <label>Father's First Name</label>
            <input type="text" name="ffirstname" required ng-model="student.fatherFirstName">
            <div ng-messages="RegistrationForm.ffirstname.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>Father's Last Name</label>
            <input type="text" name="flastname" required ng-model="student.fatherLastName">
            <div ng-messages="RegistrationForm.flastname.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        </div>
        <div layout="row">
        <md-input-container flex>
            <label>Mother's First Name</label>
            <input type="text" name="mfirstname" required ng-model="student.motherFirstName">
            <div ng-messages="RegistrationForm.mfirstname.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>Mother's Last Name</label>
            <input type="text" name="mlastname" required ng-model="student.motherLastName">
            <div ng-messages="RegistrationForm.mlastname.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        </div>
        <md-divider></md-divider>
        <h3 class="md-subhead">Contact Info</h3>
        <div layout="row">
        <md-input-container flex>
            <label>Phone Type</label>
            <md-select name="phonetype" required ng-model="student.phoneType">
              <md-option value="cell">cell</md-option>
              <md-option value="work">work</md-option>
              <md-option value="home">home</md-option>
            </md-select>
            <div ng-messages="RegistrationForm.phonetype.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>Phone Number</label>
            <input type="text" name="phonenumber" required ng-model="student.PhoneNum">
            <div ng-messages="RegistrationForm.phonenumber.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        </div>
        <md-input-container flex>
            <label>Email</label>
            <input type="email" name="email" required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" ng-model="student.email">
            <div ng-messages="RegistrationForm.email.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                     Your email must be between 10 and 100 characters long and look like an e-mail address.
                </div>
        </div>
        </md-input-container>
        <md-divider></md-divider>
        <h3 class="md-subhead">Address Information</h3>
        <div layout="row">
        <md-input-container flex>
            <label>Address Line1</label>
            <input type="text" name="AddressLine1" required ng-model="student.AddressLine1">
            <div ng-messages="RegistrationForm.AddressLine1.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>Address Line2</label>
            <input type="text" name="AddressLine2" required ng-model="student.AddressLine2">
            <div ng-messages="RegistrationForm.AddressLine2.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        </div>
        <div layout="row">
        <md-input-container flex>
            <label>city</label>
            <input type="text" name="city" required ng-model="student.city">
            <div ng-messages="RegistrationForm.city.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>state</label>
            <input type="text" name="state" required ng-model="student.state">
            <div ng-messages="RegistrationForm.state.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>zip</label>
            <input type="text" name="zip" required ng-model="student.zip">
            <div ng-messages="RegistrationForm.zip.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        </div>
        <div >
            <md-input-container  flex>
                <p class="md-body-1">Is your mailing address same as above? If No, please enter your Mailing Address</p>
                <md-radio-group layout-gt-xs="row" layout-xs="column" ng-model="student.Ismailing" name="ismailing" required>
                  <md-radio-button value="Y" >Yes</md-radio-button>
                  <md-radio-button value="N"> No </md-radio-button>
                </md-radio-group>
                <div ng-messages="RegistrationForm.ismailing.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>
        <div ng-if="student.Ismailing == 'N'">
            <h3 class="md-subhead">Mailing Address Information</h3>
            <div layout="row">
            <md-input-container flex>
                <label>Address Line1</label>
                <input type="text" name="mailAddressLine1" required ng-model="student.mailAddressLine1">
                <div ng-messages="RegistrationForm.mailAddressLine1.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>Address Line2</label>
                <input type="text" name="mailAddressLine2" required ng-model="student.mailAddressLine2">
                <div ng-messages="RegistrationForm.mailAddressLine2.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            </div>
            <div layout="row">
            <md-input-container flex>
                <label>city</label>
                <input type="text" name="mailcity" required ng-model="student.mailcity">
                <div ng-messages="RegistrationForm.mailcity.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>state</label>
                <input type="text" name="mailstate" required ng-model="student.mailstate">
                <div ng-messages="RegistrationForm.mailstate.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>zip</label>
                <input type="text" name="mailzip" required ng-model="student.mailzip">
                <div ng-messages="RegistrationForm.mailzip.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            </div>
            </div>
        <div layout="column" layout-align="center center">
            <input type="submit" class="md-primary md-accent">
        </div>
    </form>
</md-whiteframe>
<br>
<br><br><br>
{% endblock %}